.video-item{
    display: flex !important;
    align-items: center !important;
    /* obezbedjuje da se pojavi rukica u tom delu  */
    cursor: pointer;
}
.video-item.item img{
    max-width: 180px;
}